<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!--Connection strings: 
      - SharedInstance ODSes require: 
        - EdFi_Ods
        - EdFi_Admin
      - Sandbox ODSes require:
        - EdFi_Ods - note that this is required even though each client API key is sandboxed in their own ODS.
        - EdFi_Admin
        - EdFi_master - required in order to do database restores
        - EdFi_Ods_Populated_Template
        - EdFi_Ods_Minimal_Template
  -->
  <connectionStrings xdt:Transform="Replace">
    <clear />
    <add name="EdFi_Ods"               providerName="System.Data.SqlClient" 
      connectionString="Data Source=(local);   Database=EdFi_Ods;                  Trusted_Connection=True;" />
    <add name="EdFi_Admin"             providerName="System.Data.SqlClient" 
      connectionString="Data Source=(local);   Database=EdFi_Admin;                Trusted_Connection=True;" />
    <add name="EdFi_master"            providerName="System.Data.SqlClient" 
      connectionString="Data Source=(local);   Database=master;                    Trusted_Connection=True;" />
    <add name="EdFi_Ods_Populated_Template" providerName="System.Data.SqlClient" 
      connectionString="Database=EdFi_Ods_Populated_Template; Data Source=(local); Trusted_Connection=True;" />
    <add name="EdFi_Ods_Minimal_Template" providerName="System.Data.SqlClient" 
      connectionString="Database=EdFi_Ods_Minimal_Template; Data Source=(local);   Trusted_Connection=True; Persist Security Info=True;  " />
  </connectionStrings>

  <!--If you use an SMTP server that requires authentication, the username and password should be stored in this section.
      It should *not* be stored in the <mailSettings> element, because, while that element can be encrypted in a base 
      Web.config file, it canNOT be encrypted in a config transformation file. 
  <DlpProtectedSettings>
    <sendGridCredentials userName="USERNAME" password="PASSWORD" />
  </DlpProtectedSettings>
  -->

  <!--If you have any encrypted XML elements in this file, you must include a section that 
      overrides the default custom encryption provider
  <configProtectedData xdt:Transform="Replace">
    <providers>
      <add name="CustomProvider" thumbprint="THUMBPRINT" type="Pkcs12ProtectedConfigurationProvider.Pkcs12ProtectedConfigurationProvider, PKCS12ProtectedConfigurationProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=34da007ac91f901d" />
    </providers>
  </configProtectedData>
  -->

  <appSettings>
    <!--Create users required for testing. Only intended for use in development and CI environments.
    <add key="CreateTestUsers" value="true" xdt:Transform="Insert"/> 
    -->
  </appSettings>

  <!-- Uncomment this section to show server-side errors in the browser. Useful in development, but may be a security risk in public environments. 
  <system.webServer>
    <httpErrors errorMode="Detailed" xdt:Transform="Insert" />
    <asp scriptErrorSentToBrowser="true" xdt:Transform="Insert" />
  </system.webServer>
  <system.web>
    <customErrors mode="Off" xdt:Transform="Insert" />
  </system.web>
  -->

  <!--Mail settings:
      The base Web.config simulates email delivery by dropping mail in a local directory for testing.
      To enable real email delivery, uncomment and modify the section below.
      Note: Do not store usernames or passwords in this section; use the DlpProtectedSettings section above.
  <system.net>
    <mailSettings xdt:Transform="Replace">
      <smtp deliveryMethod="Network" from="noreply@edfi.org">
        <network host="smtp.example.com" userName="EMAILUSERNAME" password="EMAILPASSWORD" />
      </smtp>
    </mailSettings>
  </system.net>
  -->


</configuration>