<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

    <connectionStrings xdt:Transform="Replace">
      <clear />
      <add name="EdFi_Ods"               providerName="System.Data.SqlClient" 
        connectionString="Data Source=(local);   Database=EdFi_Ods;                         Trusted_Connection=True;" />
      <add name="EdFi_Admin"             providerName="System.Data.SqlClient" 
        connectionString="Data Source=(local);   Database=EdFi_Admin; Trusted_Connection=True;" />
      <add name="EdFi_master"            providerName="System.Data.SqlClient" 
        connectionString="Data Source=(local);   Database=master;                           Trusted_Connection=True;" />
      <add name="BulkOperationDbContext" providerName="System.Data.SqlClient" 
        connectionString="Data Source=(local);   Database=EdFi_Bulk;   Trusted_Connection=True;" />
      <add name="NHibernatePlaceholder"  providerName="System.Data.SqlClient" 
        connectionString="PLACEHOLDER-Required-but-Ignored-By-EdFiOdsConnectionProvider" />
    </connectionStrings>

    <system.web>
      <customErrors mode="Off" xdt:Transform="Insert" />
    </system.web>
    <system.webServer>
        <httpErrors errorMode="Detailed" xdt:Transform="Insert" />
        <asp scriptErrorSentToBrowser="true" xdt:Transform="Insert" />
    </system.webServer>

</configuration>