<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!--Connection strings: 
      These connection strings are required for both SharedInstance and Sandbox ODSes:
        - EdFi_Ods
        - EdFi_Admin
        - BulkOperationDbContext (aka the EdFi_Bulk database)
        - EventStore
      Sandbox ODSses additionally require: 
        - EdFi_master
  -->
  <connectionStrings xdt:Transform="Replace">
    <clear />
    <add name="EdFi_Ods"               providerName="System.Data.SqlClient" 
      connectionString="Data Source=(local);   Database=EdFi_Ods;            Trusted_Connection=True;" />
    <add name="EdFi_Admin"             providerName="System.Data.SqlClient" 
      connectionString="Data Source=(local);   Database=EdFi_Admin;          Trusted_Connection=True;" />
    <add name="EdFi_master"            providerName="System.Data.SqlClient" 
      connectionString="Data Source=(local);   Database=master;              Trusted_Connection=True;" />
    <add name="BulkOperationDbContext" providerName="System.Data.SqlClient" 
      connectionString="Data Source=(local);   Database=EdFi_Bulk;            Trusted_Connection=True;" />
    <add name="EventStore" providerName="System.Data.SqlClient"
      connectionString="Data Source=(local);   Database=EdFi_Ods_EventStore; Trusted_Connection=True;" />
  </connectionStrings>

  <!--If your connectionStrings element is encrypted - and it should be, if it contains a password -
      you must include a section that overwrites the default custom encryption provider
  <configProtectedData xdt:Transform="Replace">
    <providers>
      <add name="CustomProvider" thumbprint="THUMBPRINT" type="Pkcs12ProtectedConfigurationProvider.Pkcs12ProtectedConfigurationProvider, PKCS12ProtectedConfigurationProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=34da007ac91f901d" />
    </providers>
  </configProtectedData>
  -->

  <appSettings>
    <!--Should contain the SwaggerUI URL, if used. Otherwise, should be an empty string.-->
    <add key="AJAXAllowedDomains" value="https://swaggerui.example.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />

    <!--The place on the local filesystem to drop uploaded files-->
    <add key="BulkOperationWorkingFolder" value="X:\BulkOperationsWorkingFolder" />

    <!--This should be set to Sandbox or SharedInstance-->
    <add key="owin:appStartup" value="SharedInstance" xdt:Transform="Replace" xdt:Locator="Match(key)" />​

    <!--Uncomment this line to disable queue autocreation:-->
    <!--<add key="QueueAutoCreate" value="0" xdt:Transform="Replace" xdt:Locator="Match(key)" />-->
    <add key="QueueAutoCreate" value="1" />
    <add key="CommitUploadCommandMessageEndPoint" value="localhost" />

    <!--The endpoint for the CommitUpload message-->
    <add key="CommitUploadCommandMessageEndPoint" value="msmq-server.example.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />​
  </appSettings>

  <!-- Uncomment this section to show server-side errors in the browser. Useful in development, but may be a security risk in public environments. 
  <system.web>
    <customErrors mode="Off" xdt:Transform="Insert" />
  </system.web>
  <system.webServer>
      <httpErrors errorMode="Detailed" xdt:Transform="Insert" />
      <asp scriptErrorSentToBrowser="true" xdt:Transform="Insert" />
  </system.webServer>
  -->

</configuration>