body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* flyover*/
.flyover {
   left: 150%;
   overflow: hidden;
   position: fixed;
   width: 50%;
   opacity: 0.9;
   z-index: 1050;
   transition: left 0.6s ease-out 0;
}
 
.flyover-centered {
   top: 50%;
   transform: translate(-50%, -50%);
}

.flyover.in {
   left: 50%;
}

.flyover-bottom {
   bottom: 10px;
}

 body.modal-open,
     .modal-open .navbar-fixed-top,
     .modal-open .navbar-fixed-bottom {
     margin-right: 0;
 }

.modal {
    overflow-y: auto;
}

.pointer {
    cursor: pointer;
}

.menu-button {
    margin: 15px 0 0 10px;
}

.navbar {
    background-color: #ecf0f1;
    border-color: transparent;
}

div.edfi-logo {
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background: url('./EdFi-logo-Powered-60.png');
    width: 118px;
    height: 60px;
}

ul.navbar-nav li a{
    color: #2c3e50;
}

.form-group.required .control-label:after {
    content: " *";
    color: red;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.dropdown-menu {
    margin-left: 180px;
    width: 250px; 
}
