<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--Change the URLs to point to the API endpoint and the admin endpoint for your environment.-->
  <appSettings xdt:Transform="Replace">
    <add key="swagger.webApi" value="https://edfi-lt-web.cloudapp.net/odsapi/api/v2.0"/>
    <add key="swagger.webApiMetadataUrl" value="https://edfi-lt-web.cloudapp.net/odsapi/metadata/{section}/api-docs"/>
    <add key="swagger.adminUrl" value="https://edfi-lt-web.cloudapp.net/odsadmin/oauth/" />
  </appSettings>
</configuration>