<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="swagger.webApi" value="http://localhost:54746/api/v2.0"/>
    <add key="swagger.webApiMetadataUrl" value="http://localhost:54746/metadata/{section}/api-docs"/>
    <add key="swagger.adminUrl" value="http://localhost:54746/oauth/"/>
    <add key="Microsoft.ServiceBus.X509RevocationMode" value="NoCheck"/>
  </appSettings>
</configuration>
