<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="swagger.webApi" value="https://dunlop.doubleline.us/EFASharedIntegration-Api/api/v2.0"/>
    <add key="swagger.webApiMetadataUrl" value="https://dunlop.doubleline.us/EFASharedIntegration-Api/metadata/{section}/api-docs"/>
    <add key="swagger.adminUrl" value="https://dunlop.doubleline.us/EFASharedIntegration-Admin/oauth/" />
  </appSettings>
</configuration>