<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Ods" connectionString="Database=EdFi_Ods_Empty; Data Source=(local); Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <add name="Ods_Descriptor_Migration" connectionString="Database=EdFi_Ods_Empty; Data Source=(local); Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>