<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--Connection strings: 
      This console bulk loader tool requires: 
      - EdFi_Ods
      - BulkOperationDbContext (aka the EdFi_Bulk database)
      - NHibernatePlaceholder - an entry for this database must exist, but its value is ignored
  -->
  <connectionStrings xdt:Transform="Replace">
    <add name="EdFi_Ods" providerName="System.Data.SqlClient" 
      connectionString="Data Source=(local); Database=EdFi_Ods; Trusted_Connection=True;" />
    <add name="BulkOperationDbContext" providerName="System.Data.SqlClient" 
      connectionString="Data Source=(local); Database=EdFi_Bulk; Trusted_Connection=True; MultipleActiveResultSets=True" />
    <add name="NHibernatePlaceholder" 
      connectionString="PLACEHOLDER-Required-but-Ignored-By-EdFiOdsConnectionProvider" />
  </connectionStrings>

  <!--If your connectionStrings element is encrypted - and it should be, if it contains a password -
      you must include a section that overwrites the default custom encryption provider
  <configProtectedData xdt:Transform="Replace">
    <providers>
      <add name="CustomProvider" thumbprint="THUMBPRINT" type="Pkcs12ProtectedConfigurationProvider.Pkcs12ProtectedConfigurationProvider, PKCS12ProtectedConfigurationProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=34da007ac91f901d" />
    </providers>
  </configProtectedData>
  -->

  <appSettings>
    <!--This should be set to Sandbox or SharedInstance-->
    <add key="IoC.Configuration" value="SharedInstance" xdt:Transform="Replace" xdt:Locator="Match(key)"/>​
  </appSettings>
</configuration>