<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="EdFi_Ods" connectionString="Database=EdFi_Ods; Data Source=(local); Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <add name="BulkOperationDbContext" connectionString="Data Source=(local); Initial Catalog=EdFi_Bulk; Trusted_Connection=True; MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="NHibernatePlaceholder" connectionString="PLACEHOLDER-Required-but-Ignored-By-EdFiOdsConnectionProvider" />
  </connectionStrings>
</configuration>