@model EdFi.Ods.Admin.Models.PasswordResetCompletViewModel

@{
    ViewBag.Title = "Password Reset Complete";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>@Model.Message</h2>

<p>Click the Login link up top to log in.</p>