<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="TestServerUri" value="https://tn-rest-test.cloudapp.net" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!--We don't have a server test server that doesn't have the force async filter yet--> 
    <add key="AdminServiceUri" value="https://tn-rest-admin-test.cloudapp.net/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="UseDevelopmentSettings" value="false" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  
  <connectionStrings>
	<add name="EdFi_Ods_TestSandbox" connectionString="Data Source=(local);Database=EdFi_Ods_Sandbox_RestTest_Empty_Key;Integrated Security=True;" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>