<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="AdminUiTests.ServerBaseUrl" value="https://tn-rest-admin-test.cloudapp.net/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AdminUiTests.TimeoutSeconds" value="8" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="AdminUiTests.ScreenshotImagePath" value="%TEMP%\AdminConsole_Test\Artifacts\Screenshots" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="AdminUiTests.SmtpMode" value="network" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="AdminUiTests.BrowserMaximized" value="true" xdt:Transform="Insert" />
    <add key="UseDevelopmentSettings" xdt:Transform="Remove" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings xdt:Transform="Replace">
	<add name="EdFi_Admin" connectionString="Data Source=(local);Database=EdFi_Admin;Integrated Security=True;" providerName="System.Data.SqlClient" />
	<add name="EdFi_master" connectionString="Data Source=(local);Database=master;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>